<!-- <ion-header>
  <ion-navbar>
    <ion-title>Take a Picture</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="action-wrapper" (click)="takePicture()">
    <ion-icon name="camera" [ngClass]="{ 'sending': sending === true }" color="primary"></ion-icon>
    <div class="camera-label" *ngIf="!sending">Touch to take a Picture</div>
    <div class="camera-label" *ngIf="sending">Sending picture...</div>
  </div>

  <ion-item class="patient-input">
    <ion-label color="primary" floating>Patient id</ion-label>
    <ion-input name="patientId" type="number" [(ngModel)]="patient.patientID"></ion-input>
  </ion-item>
</ion-content>
